// Basic Styles

	.feature {
		background: $orange;
		width: 776px;
		height: 350px;
		margin: -20px 0 20px 0;
		padding: 20px;
		position: relative;
		.social {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}

	#basic {
		.core > article {
			img { width: 100%; }
			padding: 20px;
		}
	}

	#home {
		.schedules div {
			margin-bottom: 20px;
			a { display: block; }
		}
	}

	#classes {
		.class {
			@extend .card;
			height: 330px;
			&:nth-child(3n + 1) {
				@include last;
			}
			h4 {
				color: $white;
				background: $gray;
				padding: 10px;
			}
		}
	}

	#recipes {
		padding-top: 20px;
		.card {
			// height: 500px;
			p { margin-bottom: 0; }
			&:nth-child(2n + 1) {
				@include last;
			}
		}
	}

	#singleArticle {
		&.core > article { padding: 0px; }
		.feature {
			margin-top: 0;
			img {
				margin-top: 10px;
				width: 360px;
				height: 270px;
				float: left;
			}
		}
		ul li { font-weight: 100; }
		.articleContent {
			padding: 0 20px;
			white-space: pre-wrap;       /* css-3 */
			white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			line-height: 27px;
			overflow: hidden;
			img { margin-top: -40px; }
			p { margin: 0 60px; }
		}
	}

	#contact {
		h1 { border-bottom: 1px solid $ash; }
		.details {
			text-align: center;
			p { margin-bottom: 0; }
		}
	}